/* border: 1px solid rgb(167, 147, 60); */
html {
    font-family: 'DM Sans', sans-serif;
    height: 100%;
}

body {
    margin: 0%;
    height: 100%;
}

/* Header */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #282d30;
    position: fixed;
    width: 100%;
    top: 0;
}

.header-mobile {
    display: none;
}
.moco-logo {
    width: 10rem;
    margin: 1rem;
}

/* Navigation styles */
.header-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 8px;
}

.nav-item {
    color: #f7964c;
    text-decoration: none;
    margin: 0.3rem 0.5rem;
}

.insta-logo {
    height: 19px;
}

/* Dropdown content disappear/styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Dropdown links styles */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Grey bg color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Book Now Button Styles */
.nav-btn {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #f7964c;
    text-align: center;
    width: 100px;
    margin: 0.5rem;
    padding: 0.5rem;

    border: #f7964c 2px solid;
    border-radius: 6.4px;
}

.nav-btn:hover {
    transition: .5s ease;
    background-color: #f7964c;
    color: white;    
}

/* Site button styles */
.btn {
    background-color: rgba(0, 0, 0, 0);
    width: 15rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: #f7964c 2px solid;
    border-radius: 6.4px;
    text-decoration: none;
    color: #f7964c;  
    text-align: center;
}

.btn:hover {
    transition: .5s ease;
    background-color: #f7964c;
    color: white;    
}

/* Footer */
footer {
    background-color: #282d30;
    color: white;

    padding: 1.5%;

    display: flex;
    flex-direction: column;
}

.insta-wrap {
    color: white;
    border-bottom: 2px solid #f7964c;
    padding-bottom: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta-wrap p {
    margin: 0.5em;
}


.insta-center {
    display: flex;
    align-items: center;
}

.foot-text-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5%;
}

.foot-nav {
    width: 33%;

    display: flex;
    flex-direction: column;
}

.foot-nav a {
    color: #f7964c;
    margin: 0.5em 1.5em;
}

.foot-ack {
    width: 33%;
    text-align: center;
}

.foot-contact {
    width: 33%;
    margin: 0 1.5em;
    text-align: right;
    
    display: flex;
    flex-direction: column;
}

.link {
    color: white;
    text-decoration: none;
}

/* Heading styles */
.heading-40 {
    color: #f7964c;
    font-size: 40px;
    font-weight: 700;
}

/* Home Page */
/* Studio Parallax Styles */
.studio-parallax {
    background-image: url(https://images.squarespace-cdn.com/content/v1/61b03875d5378849d90c7332/1648683366972-E9VYTG82MJH2KVWFDN80/Kensington+Movement+Collective+Performance+MOCO+Gym+Floor.png?format=original);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.studio-dark-overlay {
    background-image: linear-gradient(to left, rgba(70,75,82,0.4), rgba(70,75,82,1));
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.studio-text-wrap {
    padding: 8%;
    color: white;
    
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.studio-btn {
    color: #f7964c;
    text-decoration: none;
    text-align: left;
    font-size: 30px;
}

/* The MOCO Vision Styles */
.vision-sect {
    display: flex;
    align-items: center;

    margin: 5%;
}

.vision-content {
    padding-right: 2%;
    font-size: 20px;
    text-align: center;
}

.vision-img {
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.vision-parallax {
    display: none;
}

/* darken image overlay */
.dark-overlay {
    background-color: rgba(70,75,82,0.6);
    width: 100%;
    height: 100%;
}

/* Moco Facilities & Services */
.services-sect {
    padding: 5%;
    text-align: center;
    background-color: rgb(240, 240, 240);
}
.service-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-wrap {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-item {
    text-align: center;
    padding: 5%;
}

.service-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.passes-parallax {
    background-image: url(https://images.squarespace-cdn.com/content/v1/61b03875d5378849d90c7332/34c66473-307b-4d40-ba98-fd175adb0534/Kensington+Movement+Collective+Performance+MOCO+Gym+Strength+Session+Chest+Press.png?format=750w);
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Passes and Membership Section */
.passes-wrap {
    padding: 5%;
    text-align: left;
    background-color: #282d30;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.passes-img {
    width: 60%;
    border-radius: 10px;
    margin: 2%;
}

.passes-text {
    padding: 2%;
    font-size: 20px;
}

/* Plate Parallax Styles */
.plates-parallax {
    background-image: url(https://images.squarespace-cdn.com/content/v1/61b03875d5378849d90c7332/562c977b-75c3-485c-b606-916b11be7984/Kensington+Movement+Collective+Performance+MOCO+Gym+Weight+Plates.png?format=1500w);
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plates-dark-overlay {
    background-image: linear-gradient(to left, rgba(70,75,82,0.6), rgba(70,75,82,0.9), rgba(70,75,82,0.9), rgba(70,75,82,0.6));
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.plates-text-wrap .heading {
    color: white;

}

.plate-btn {
    color: #f7964c;
    text-decoration: none;
    font-size: 30px;
}

/* About Page */
/* Why Moco Section */
.sect-parallax-whyMoco {
    background-image: url(https://images.squarespace-cdn.com/content/v1/61b03875d5378849d90c7332/1a069486-9b35-497a-834f-8a6320445026/Kensington+Movement+Collective+Performance+MOCO+Gym+Core+Session+Coaching.png?format=original);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whyMoco-dark-overlay {
    background-image: linear-gradient(to top, rgba(70,75,82,0.4), rgba(70,75,82,1));
    width: 100%;
    height: 100%;
}

.whyMoco-wrap {
    display: flex;
    align-items: flex-start;
}

.whyMoco-text-wrap {
    margin-top: 86.906px;
    padding: 5%;
    color: white;
    
    height: fit-content;
    width: 65%;
}

.whyMoco-text {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

/* Experience biography */
.sect-experience {
    display: flex;
    align-items: center;

    margin: 5%;
    padding-right: 2%;
    font-size: 20px;
    text-align: justify;
}

.sect-experience p {
    margin: 3%;
}

.experience-heading {
    color: #f7964c;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

/* Media Queries */
/* 1024px */
@media screen and (max-width: 64em) {
    .moco-logo {
        width: 8rem;
        margin: 1rem;
    }

    .vision-sect {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }

    .vision-img {
        display: none;
    }

    .vision-parallax {
        display: block;
        background-image: url(https://images.squarespace-cdn.com/content/v1/61b03875d5378849d90c7332/d59abb96-ba2d-4fd3-be94-5160a44be95f/Kensington+Movement+Collective+Performance+MOCO+Gym+Cardio+Session+Rowers.png?format=750w);
        height: 50%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    
}

/* 771px */
@media screen and (max-width: 48.1875em) {
/*  Header Mobile Styles */
    .header {
        display: none;
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #282d30;
        position: relative;
    }

    .header-mobile img:hover {
        background-color: #282d30b9;
    }

    .header-mobile .nav-item:hover {
        background-color: #282d30b9;
    }

    .mobile-nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-top: 2px solid #f7964c;
    }

    .studio-text-wrap {
        width: 100%;
    }

    .passes-wrap {
        flex-direction: column;
        text-align: center;
    }

    .passes-img {
        width: 90%;
    }

    .plates-text-wrap {
        width: 80%;
    }

    .foot-text-wrap {
        flex-direction: column;
        justify-content: center;
        margin: 5%;
    }

    .foot-nav {
        flex-direction: row;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .foot-nav a {
        width: 350px;
        color: #f7964c;
        margin: 1%;
    }

    .foot-ack {
        width: 100%;
    }

    .foot-contact {
        width: 100%;
        text-align:center;       
    }

    .foot-contact-head {
        color: #f7964c;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
    }
}
/* 647px */
@media screen and (max-width: 40.4375em) {
    .service-wrap {
        width: 50%;
    }

    .studio-text-wrap {
        text-align: center;
    }

    .studio-btn {
        text-align: center;
    }

    .btn-arrow {
        display: none;
    }
}

/* 427px */
@media screen and (max-width: 26.6875em) {
    .service-wrap {
        width: 100%;
    }

    .passes-img {
        width: 90%;
    }
    
    .foot-nav {
        flex-wrap: wrap;
    }
}
